<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="Soliton Test Suite" tests="6" assertions="28" failures="0" errors="0" time="8.695705">
    <testsuite name="QueryTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/QueryTest.php" tests="1" assertions="15" failures="0" errors="0" time="0.000359">
      <testcase name="testQuery" class="QueryTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/QueryTest.php" line="10" assertions="15" time="0.000359"/>
    </testsuite>
    <testsuite name="ResponseTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/ResponseTest.php" tests="1" assertions="4" failures="0" errors="0" time="0.000133">
      <testcase name="testResponse" class="ResponseTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/ResponseTest.php" line="11" assertions="4" time="0.000133"/>
    </testsuite>
    <testsuite name="SolitonTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/SolitonTest.php" tests="4" assertions="9" failures="0" errors="0" time="8.695213">
      <testcase name="testSoliton" class="SolitonTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/SolitonTest.php" line="13" assertions="2" time="7.988006"/>
      <testcase name="testExceptionLoop" class="SolitonTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/SolitonTest.php" line="70" assertions="1" time="0.000410"/>
      <testcase name="testRequest" class="SolitonTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/SolitonTest.php" line="94" assertions="4" time="0.002237"/>
      <testcase name="testResponse" class="SolitonTest" file="/home/plekhanov/Projects/vvp/soliton/Tests/SolitonTest.php" line="115" assertions="2" time="0.704560"/>
    </testsuite>
  </testsuite>
</testsuites>
