<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        colors="true"
        syntaxCheck="false"
        stopOnFailure="false"
        backupGlobals="false"
        processIsolation="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        bootstrap="test.php"
        codecoverage="true"
        haltonfailure="true"
        haltonerror="true"
        >

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Soliton/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./help</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="Soliton Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>

</phpunit>
